<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Avito Android Tests">

<test name="Test cases : All">
    <classes>
        <!--<class name="tests.StartAppiumService" />-->
        <class name="tests.avito.CreateAvitoAndroidDriver"/>
        <class name="tests.avito.LoadingAvitoApp" />
		<class name="tests.avito.test" />
    </classes>
</test>
</suite>